@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=DM+Sans:wght@400;700&family=Lobster+Two:wght@400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', 'Times New Roman', Times, serif;
}

.to_reveal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5vmax;
  z-index: 2;
}

.reveal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #c6dce4, #abc9ff);
  clip-path: circle(0px at calc(100% - 50%) 84.5%);
  transition: all 3s ease-in-out;
  z-index: 10;
}

#active:checked ~ .reveal {
  clip-path: circle(75%);
}

.btn_reveal {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  z-index: 11;
  width: 5em;
  text-align: center;
  border-radius: 30px;
  border: none;
  font-size: 2rem;
  color: #ffffff;
  background: #f2df3a;
  cursor: pointer;
}

.btn_reveal:hover {
  background: #ffc300;
  box-shadow: 2px 2px 2px #ffe400;
}

.reveal h1 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 5vmax;
  font-weight: 300;
}

img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -10%);
  height: 30vh;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
}

.dot-i {
  font-size: 10vmax;
  z-index: -10;
}

.i1 {
  position: absolute;
  top: 10%;
  left: 29%;
  color: #ff8b8b;
}

.i2 {
  position: absolute;
  top: 15%;
  left: 73%;
  color: #abc9ff;
}
.i3 {
  position: absolute;
  top: 18%;
  left: 45%;
  color: #ff8b8b;
}
.i4 {
  position: absolute;
  top: 25%;
  left: 10%;
  color: #abc9ff;
}
.i5 {
  position: absolute;
  top: 30%;
  left: 83%;
  color: #ff8b8b;
}
.i6 {
  position: absolute;
  top: 65%;
  left: 43%;
  color: #abc9ff;
}
.i7 {
  position: absolute;
  top: 40%;
  left: 15%;
  color: #ff8b8b;
}
.i8 {
  position: absolute;
  top: 59%;
  left: 18%;
  color: #abc9ff;
}
.i9 {
  position: absolute;
  top: 50%;
  left: 79%;
  color: #ff8b8b;
}
.i10 {
  position: absolute;
  top: 65%;
  left: 73%;
  color: #abc9ff;
}
.i11 {
  position: absolute;
  top: 75%;
  left: 90%;
  color: #ff8b8b;
}
.i12 {
  position: absolute;
  top: 85%;
  left: 73%;
  color: #abc9ff;
}
.i13 {
  position: absolute;
  top: 71%;
  left: 9%;
  color: #ff8b8b;
}
.i14 {
  position: absolute;
  top: 51%;
  left: 2%;
  color: #abc9ff;
}

.i15 {
  position: absolute;
  top: 1%;
  left: 9%;
  color: #ff8b8b;
}

input {
  display: none;
}
